<div class="container body-content">
    <div class="row">
        {{#each articles}}
            <div class="col-md-6">
                <article>
                    <header>
                        <h2>{{this.title}}</h2>
                    </header>

                    <p>{{this.content}}
                    </p>

                    <small class="author">
                        {{this.author.fullName}}
                    </small>


                        <div class="pull-right">
                            <a class="btn btn-default btn-xs" href="/newsCreation/details/{{this.id}}">Read more &raquo;</a>
                        </div>

                </article>
            </div>
        {{/each}}
    </div>
</div>


<div class="container body-content">
    <div class="row">
       {{#if unanswered}}
           <h1>Unanswered</h1>

       {{/if}}
        {{#each unanswered}}
            <div class="col-md-6">
                <article>
                    <header>
                        <h2>{{this.author}} {{this.authorMail}}</h2>
                        <h3>{{this.subject}}</h3>
                    </header>

                    <p>{{this.content}}</p>
                    <div class="pull-right">
                        <a class="btn btn-default btn-xs" href="/functionality/answer/{{this.id}}">Answer Now</a>
                    </div>

                </article>


            </div>

        {{/each}}
    </div>
</div>