<div class="container body-content">
<div class="row ">

{{#if mainArticle}}

        <div class="col-md-12">
            <form action="#">

                <article>
                    <header>
                        <h2>{{mainArticle.title}}</h2>
                    </header>

                    <p id="mainArticleContent">{{mainArticle.content}}</p>
                    <br>

                    <small class="author">
                        {{mainArticle.author.fullName}}

                    </small>

                    <div>
                        <div class="pull-right">

                            <a class="btn btn-primary" href="/newsCreation/details/{{mainArticle.id}}">Read
                                more &raquo;</a>
                        </div>
                    </div>
                </article>
            </form>
        </div>
    </div>



{{/if}}


{{#each kurec}}

    <div class="col-md-6">

        <form action="#">

            <article>
                <header>
                    <h2>{{this.title}}</h2>
                </header>

                <div>{{this.content}}
                </div>
                <br>

                <small class="author">
                    {{this.author.fullName}}
                </small>

                <div>
                    <div class="pull-right">

                        <a class="btn btn-primary" href="/newsCreation/details/{{this.id}}">Read
                            more &raquo;</a>
                    </div>
                </div>
            </article>
        </form>
            </div>


{{/each}}

<div class="col-md-12">
    <div class="row text-center">
        <a href="/news/multyNewsBrowser/{{pages.firstPage}}"><button>FirstPage</button></a>
        <a href="/news/multyNewsBrowser/{{pages.prevPage}}"><button>PrevPage</button></a>
        <a href="/news/multyNewsBrowser/{{pages.nextPage}}"><button>NextPage</button></a>
        <a href="/news/multyNewsBrowser/{{pages.lastPage}}"><button>LastPage</button></a>
    </div>

    <div class="row text-center">
        <form method="POST" action="/news/multyNewsBrowser">
        <textarea id="goToPage" rows="1"  cols="1" name="searchedPage" id="searchedPage" placeholder="{{pages.currentPage}}"></textarea>
        <button type="submit">Go To</button></a>

        </form>
    </div>
</div>
</div>
