<div class="container">
<div class="row">
    {{#each articles}}
        <a href="/newsCreation/details/{{this.id}}">
            <div id="" class="col-md-12 kogato_Pravite_PromeniPoCSS-aSi_Pravete_NovClas_IliID">
                <article>
                    <div class="article-text">
                        <h2>{{this.title}}</h2>
                        <div>{{this.content}}
                        </div>
                        <br>

                        <!--<small class="author">-->
                        <!--{{this.author.fullName}}-->
                        <!--</small>-->
                    </div>
                    <div class="crop">
                        <div class="img" style="background: url('{{imagesFromNewsPath}}')">
                        <div class="v-line"></div></div>
                    </div>

                </article>
            </div>
        </a>
    {{/each}}
</div>


<br>
<div class="row">
    <div id="moreNews">
        {{#if articles}}
            <div class="blog-post-des">
                <p><a class="btn btn-default btn-xs center-block" href="/news/multyNewsBrowser/1">Вижте повече</a></p>
            </div>
        {{/if}}
    </div>
</div>
</div>
</div>