<div class="container body-content">
    <div class="row">

        {{#if mainArticle}}

            <div class="col-md-6">
                <form action="#">

                    <article>
                        <header>
                            <h2>{{mainArticle.title}}</h2>
                        </header>

                        <p id="mainArticleContent">{{mainArticle.content}}</p>
                        <br>

                        <small class="author">
                            {{mainArticle.author.fullName}}

                        </small>

                        <div>
                            <div class="pull-right">

                                <a class="btn btn-primary" href="/newsCreation/details/{{mainArticle.id}}">Read
                                    more &raquo;</a>
                            </div>
                        </div>
                    </article>
                </form>
            </div>


        {{/if}}



        <div class="col-md-6">
            {{#each articles}}
                <form action="#">

                    <article>
                        <header>
                            <h2>{{this.title}}</h2>
                        </header>

                        <diiv>{{this.content}}
                        </diiv>
                        <br>

                        <small class="author">
                            {{this.author.fullName}}
                        </small>

                        <div>
                            <div class="pull-right">

                                <a class="btn btn-primary" href="/newsCreation/details/{{this.id}}">Read
                                    more &raquo;</a>
                            </div>
                        </div>
                    </article>
                </form>
            {{/each}}
        </div>


    </div>
    <br>
    <div id="moreNews">
        {{#if articles}}

            <p><a class="btn btn-default btn-xs center-block" href="/news/multyNewsBrowser">Browse more</a></p>
        {{/if}}
    </div>
</div>
